

@media (max-width: 960px) {
	
.front .logo-slogan{ width:auto; max-width:500px; margin:0 auto; padding-top:30px}
.front #home-slogan{ margin:20px 0}

#content{ margin-left:0}
#content .inner{ padding:20px 30px 30px 20px}
.front #content .inner{ padding:0 20px 10px}

#sidebar, .page-views #sharing{width:31%}

#footer .wrap > .inner{ padding-bottom:20px}
.footer-menu,
#copyright{ position:relative; top:0; left:0; right:0; text-align:center}
.footer-menu{ margin:20px 0}
.footer-menu ul li{ float:none; display:inline-block; }
#social-links{ margin:20px 0}

.view-home-promo-slides{ position:relative; top:0; right:0; margin:0 auto}
.view-home-promo-slides .image{ width:100%}
.view-home-promo-slides .flex-direction-nav a.flex-prev,
.view-home-promo-slides .flexslider:hover a.flex-prev{ left:-25px}
.view-home-promo-slides .flex-direction-nav a.flex-next,
.view-home-promo-slides .flexslider:hover .flex-direction-nav a.flex-next{ right:-25px}

.front .view-wp-blog-latest-posts{ width:auto; max-width:90%; margin:0 auto 20px; bottom:0; right:0; position:relative; text-align:center}
.front #social-links{ position:relative; right:0; top:0}

}

@media (min-width:801px) and (max-width: 959px)  {
	
#site-slogan{ padding-left:250px}
#navigation{ padding-left:250px}
#navigation ul{ font-size:1.2em}
#navigation ul li a{ padding:0 9px 9px}
.field-name-field-image{ max-width:28%}

}

@media (max-width: 800px) {

#header,
.front #header{ height:auto; background:#fff url(/sites/all/themes/lionsgate/images/tile_logo.jpg) repeat-x}
#header > .inner,
#header .wrap{ background:none; height:auto}
#logo{ text-align:center; position:relative; margin:0 auto; width:100%; display:block; line-height:.5}
#site-slogan{ position:relative; top:0; left:0; width:auto; padding:4px 20px; line-height:1.2; background:#144450; text-align:center}
.logo-desktop{ display:none}
.logo-mobile{ display:inline-block}

#main{ min-height:inherit}
#main > .inner{ padding:20px}
#page{ position:relative;} /* DO NOT REMOVE - JS MEDIA QUERY */
#content{ max-width:100%; position:relative; min-height:inherit;}
#sidebar{ float:none; width:100%; margin-top:20px}
.page-views #sharing{ float:none; width:100%; margin-top:30px}

.section-blog #content,
.section-blog-tags #content{ float:none; position:relative}

#main-menu{ display:none}
#menu-toggle{ display:block; cursor:pointer; font-size:1.5em; font-weight:bold; text-align:center; background:#DCDCEA; margin:1px 0; padding:5px 0}
#menu-toggle a{ background:url(/sites/all/themes/lionsgate/images/mobile-menu.png) right center no-repeat; display:inline-block; padding:5px 40px 5px 0; text-decoration:none; outline:none}

#navigation{ background:#fff; padding:0;}
#navigation ul li{float:none;display:block; text-align:center; line-height:1; background:none }
#navigation ul li a{ padding:10px 0;  border-bottom:1px solid #dad9e7}
#navigation ul > li:last-child a{ background:none}
#navigation ul li:hover,
#navigation ul li.active-trail,
#navigation ul li a:hover,
#navigation ul li a.active{background:#fff}

#navigation ul ul,
#navigation ul ul ul{ display:block; position:relative; width:auto; left:0; border:none; background:#EDEEF3}
#navigation ul ul li{ border:none; border-top:1px solid #fff}
#navigation ul ul li:hover a,
#navigation ul ul ul li a,
#navigation ul ul ul li.active-trail{ background:#EDEEF3}

#navigation ul ul ul{ top:0}
#navigation ul ul ul li:last-child{ border-top:1px solid #fff}
#navigation ul ul ul li a:hover,
#navigation ul ul ul li a.active{ background:#EDEEF3}

.field-name-field-image{ display:none}
.node-wp-blog .field-name-field-image{ display:block}

#sharing{ position:relative; right:0; top:0; margin:20px 0}
	
}

@media (max-width: 640px) {

#main{ background:none}
#main > .inner{ padding:0}
#content, #sidebar{ box-shadow:none; border-radius:0;}
#sidebar{ margin:0;padding-bottom:30px; border-top:1px solid #d0d0d2}

#contact .inner{ background:none}
.block-contact-info, 
.block-contact-info.contextual-links-region{ position:relative; top:0; left:0; text-align:center}
.block-contact-quotes{ max-width:100%; margin:0; text-align:center; padding-top:20px}
.block-contact-quotes p:last-child{ margin:20px 0}

#footer-blocks, #copyright{ line-height:1.5}

.node-wp-blog #sharing{ position:relative; right:0; top:0; margin-bottom:10px}

}

@media (max-width: 480px) {
	
.view-home-promo-slides .image{ height:auto}
.view-home-promo-slides .body{ position:relative; top:0; left:0; margin:0; padding:30px}

}